@media (min-width: 900px){
    .menudesplegable{
        display: none;
    }
}

@media (max-width: 900px){
    .amenu1{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    header > h1{
        margin-left: 30px;
    }
}
@media (min-width: 1200px){
    .arrowhero{display: none;}
    .exp{
        display: none;
    }
}

@media (max-width: 1200px){
    .hero{
        position: relative;
    }
    .herodiv{
        z-index: 1;
    }
    .imghero{
        position: absolute;
        z-index: 0;
        width: 600px;
        opacity: 0.15;
    }
    .herodiv > div > button{
        display: none;
    }    
    .contenidolista{
        display: block;
        justify-content: center;
        align-items: center;
        width: 70%;    
    }
    .subdiv3{
        margin: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gris{
        background-color: #DFDFDF;
    }
    .subdiv2{
        display: none;
    }
    .subdiv1{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .título > h1{
        display: none;
    }
    .título{
        margin-bottom: 45px;
    }
}