@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');
:root{
    --fuente1: 'Raleway', sans-serif;
    --fuente2: 'Roboto Condensed', sans-serif;
    --color1: #f8e7ad;
    --color2: #D8C78B;
    --color3: #63521d; 
    --color4: #A69146;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
header{
    background-color: var(--color2);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}
h1 > img{
    height: 50px;
}
nav > a{
    font-family: var(--fuente1);
    font-size: 20px;
}
a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--color3);
}
.hero{
    background-color: var(--color1);
    display: flex;    
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}
.hero > div{
    flex-basis: 35%;
}
.imghero > img{
    width: 100%;
}
.boton1{
    background-color: var(--color2);
}
button{
    border: none;
    background-color: rgba(255, 228, 196, 0);
    font-family: var(--fuente1);
    margin: 30px 15px 5px 5px;
    padding: 5px;
    font-size: 25px;
}

.hero > div > h1{
    font-family: var(--fuente1);
    font-size: 50px;
    margin: 5px 5px 15px 5px;
    color: var(--color3);
}
.hero > div > p{
    font-family: var(--fuente2);
    font-size: 35px;
    margin: 5px;
    color: var(--color4);
}
section{
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}
.cv{
    height: 140vh;
}
.título{
    text-align: center;
    align-items: center;
}
h2{
    font-family: var(--fuente2);
    color: var(--color4);
    margin-bottom: 15px;
}
.título > h1{
    font-family: var(--fuente1);
    color: var(--color3);
    font-size: 40px;
}
.título{
    flex: 1 0 100%;
}
.contenido{
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.contenido2{
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 80px
}
.contenido3{
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 80px
}
.subdiv1{
    width: 50%;
}
.subdiv2{
    width: 20%;
    text-align: center;
}
h3{
    font-family: var(--fuente1);
    color: var(--color3);
    font-size: 30px;
}
.subdiv1 > p{
    font-family: var(--fuente2);
    color: var(--color4);
    font-size: 25px;
}
.subdiv2 > h1{
    font-family: var(--fuente2);
    font-size: 200px;
    color: var(--color3);
    background-color: var(--color1);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 15px;
}
.subdiv2 > p{
    font-family: var(--fuente1);
    color: var(--color4);
    font-size: 25px;
}
.subdiv3 > p{
    font-family: var(--fuente2);
    font-size: 16px;
    color: var(--color4);
}
.subdiv3 > h1{
    font-family: var(--fuente1);
    font-size: 20px;
    color: var(--color3);
}
.subdiv4{
    flex: 1 0 30%;
    text-align: center;
    margin-bottom: 80px;
}
.subdiv4 > h1{
    font-size: 80px;
    color: var(--color4);
}
.subdiv4 > h2{
    font-size: 30px;
    color: var(--color3);
    font-family: var(--fuente1);
}
.subdiv4 > p{
    font-size: 18px;
    color: var(--color4);
    font-family: var(--fuente2);
}
.subdiv5{
    flex: 0 0 30%;
    border-left: 2px  solid #A69146;
    padding-left: 5px;
}

ul{
    margin-left: 17px;
    color: var(--color3);
}
.subdiv5 > h1{
    font-family: var(--fuente1);
    color: var(--color3);
    font-size: 25px;
    margin-bottom: 5px;
}
.subdiv5 > h2{
    margin-bottom: 5px;
    font-size: 16px;
    text-decoration: underline;
}
.subdiv5 > p{
    margin-bottom: 15px;
}
.subdiv5 > p, li > p{
    font-family: var(--fuente2);
    color: var(--color4);
}
li > p{
    margin-bottom: 5px;
}
li > h1{
    font-family: var(--fuente1);
    color: var(--color4);
    font-size: 18px;
    text-decoration: underline;
}
.titulosección{
    font-family: var(--fuente1);
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--color3);
}
.amplio{
    flex: 1 0 100%;
}
.contenido4{
    flex: 1 0 40%;
    margin: 0 15px 0 15px;
}
.subdiv6{
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
}
hr{
    margin: 10px 0 20px 0;
    height: 5px;
    background-color: var(--color4);
    border: 0;
    border-radius: 5px;
}
.hr76{
    width: 76%;
}
.hr70{
    width: 70%;
}
.hr91{
    width: 91%;
}
.hr87{
    width: 87%;
}
.hr75{
    width: 75%;
}
.contenedor{
    display: flex;
    justify-content: space-between;
}
.contenedor > h1{
    font-family: var(--fuente1);
    color: var(--color3);
}
.botoncv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    margin-bottom: 50px;
}
.boton2{
    background-color: var(--color2);
}
.contenedorimg{
    display: flex;
    height: 300px;
    width: 300px;
    margin: 30px;
    position: relative;
}
.contenedortext{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color2);
}
.contenedortext > h1{
    color: var(--color3);
    text-decoration: underline;
    font-family: var(--fuente2);
    font-size: 20px;
}
.contenedortext > p{
color: var(--color3);
font-family: var(--fuente1);
font-size: 16px;
text-align: center;
}
.contenedorimg > img{
    height: 100%;
}

.portfolio > nav{
    display: flex;
    flex: 1 0 30%;
    justify-content: space-around;
}
.contenido5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.portfolio > nav{
    margin-left: 30%;
    margin-right: 30%;
    height: 25px;
}
footer{
    height: 40px;
    background-color: black;
}
.contacto{
    background-color: var(--color1);
    margin-bottom: 0;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.contenido6{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color3);
    background-color: var(--color1);
    margin-bottom: 30px;
    font-size: 18px;
    font-family: var(--fuente2);
}
textarea{
    width: 100%;
    resize: vertical;
    border: none;
    border-bottom: 2px solid var(--color3);
    background-color: var(--color1);
    font-size: 18px;
    font-family: var(--fuente2);
}
label{
    font-size: 18px;
    font-family: var(--fuente2);
    color: var(--color4);
    margin-bottom: 5px;
}
.contenido6 > button{
    margin: 10px 30%;
}
.contenido6 > h1{
    font-size: 25px;
    font-family: var(--fuente1);
    color: var(--color3);
    margin-bottom: 20px;
}
.contenido6 > p{
    font-size: 18px;
    font-family: var(--fuente2);
    color: var(--color4);
    margin-bottom: 20px;
}
.contenido6 > div > h2{
    font-size: 20px;
    font-family: var(--fuente1);
    color: var(--color3);
    margin-bottom: 5px;
}
.contenido6 > div > h3{
    font-size: 18px;
    font-family: var(--fuente2);
    color: var(--color4);
    margin-bottom: 20px;
}
.contenido6 > div{
    flex: 1 0 100%;
}
@keyframes animacionentrada{
    0%{
        opacity: 0;
        height: 0px;
        translate: ;
    }
    100%{
        opacity: 1;
        height: 80px;
    }
}
@keyframes entradahero{
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes entradaimg{
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.imghero{
    animation-name: entradaimg;
    animation-duration: 1s;
}
header{
    animation-name: animacionentrada;
    animation-duration: 1s;
}
.herodiv{
    animation-name: entradahero;
    animation-duration: 1s;
}
a{
    transition: 0.25s ease-in-out;
}
.amenu > a:hover{
    background: rgb(226,212,140);
    background: linear-gradient(0deg, rgba(226,212,140,1) 0%, rgba(226,212,140,0) 100%);
    border-bottom: 2px solid var(--color3);
}
button{
    transition: 0.25s;
}
button:hover{
    background-color: var(--color2);
}
.amenu1 > a{
    color: var(--color4);
}
.amenu1 > a:hover{
    color: var(--color3);
}
.boton1:hover{
    background: rgb(99,82,29);
}
.boton1 > a:hover{
    color: #F8E7AD;
}
.botoncv :hover{
    background-color: var(--color4);
}
.boton2 > a:hover{
    color: #F8E7AD;
}
.imghero > img{
    border-radius: 300px;
}
.contenedortext{
    opacity: 0;
    transition: 1s;
}
.contenedortext:hover{
    opacity: 1;
    background-color: rgba(248, 231, 173, 0.75);
}
@media(max-width: 1400px){
    .contenedorimg{
        height: 200px;
        width: 200px;
    }
}